/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

main {
  text-align: center;
}

.folder {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.subfolders {
  padding-left: 20px;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.file span:nth-child(1) {
  margin-right: 8px;
  /* Add some distance between file name and kebab menu */
}

.menu {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1;
}

.menu div {
  cursor: pointer;
  padding: 8px 16px;
}

.menu div:hover {
  background-color: #f1f1f1;
}

button {
  margin-top: 10px;
}